Repository eipp/maily: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check

eslint:
  name: eslint
  entry: bash -c 'cd app && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: bash -c 'cd app && npm run format'
  language: system
  pass_filenames: false

typescript-check:
  name: typescript-check
  entry: bash -c 'cd app && npm run type-check'
  language: system
  pass_filenames: false

Fix GitHub CI/CD issues: Add missing Docker files and dependency configurations
  .dependency-check-suppression.xml
  .github/workflows/ci.yml
  .github/workflows/security-scanning.yml
  docker/api.dockerfile
  docker/web.dockerfile
Due: none

Fix GitHub Actions workflow dependencies and configuration files
  apps/web/.env.example
  package.json
  sonar-project.properties
Due: prettier

Fix workflow files with proper error handling and path references
  .github/workflows/security-scan-pipeline.yml
  .github/workflows/test.yml
Due: none

Add modern CI/CD workflows for security and release automation
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
  .github/workflows/trivy-scan.yml
Due: none

Fix GitHub checks by consolidating workflows
  .github/workflows/accessibility.yml.disabled
  .github/workflows/automated-operations.yml.disabled
  .github/workflows/ci-cd.yaml.disabled
  .github/workflows/ci-cd.yml.disabled
  .github/workflows/ci.yml.disabled
  .github/workflows/code-quality.yml.disabled
  .github/workflows/codeql-analysis.yml.disabled
  .github/workflows/container-security-scan.yml.disabled
  .github/workflows/dependency-review.yml.disabled
  .github/workflows/deploy-mailydocs.yml.disabled
  .github/workflows/deploy-production.yml.disabled
  .github/workflows/documentation.yml.disabled
  .github/workflows/enhanced-ci-cd.yaml.disabled
  .github/workflows/monitoring.yml.disabled
  .github/workflows/performance.yml.disabled
  .github/workflows/production-ci-cd.yml.disabled
  .github/workflows/production-deploy.yml.disabled
  .github/workflows/release.yml.disabled
  .github/workflows/security-enhancements.yml.disabled
  .github/workflows/security-scan-pipeline.yml.disabled
  .github/workflows/security-scan.yml.disabled
  .github/workflows/security-scanning.yml.disabled
  .github/workflows/security.yml.disabled
  .github/workflows/staging.yml.disabled
  .github/workflows/test-coverage.yml.disabled
  .github/workflows/test.yml.disabled
  .github/workflows/trivy-scan.yml.disabled
  .github/workflows/unified-ci-cd.yml
Due: none

Fix GitHub checks by consolidating workflows
  .github/workflows/unified-ci-cd.yml
Due: none

Implement Trust Infrastructure enhancements
  ROLLBACK.md
  apps/api/services/blockchain_service.py
  apps/api/services/trust_verification_service.py
  apps/api/utils/concurrent_verification.py
  apps/email-service/services/blockchain-service.ts
  apps/email-service/utils/batch_transaction.ts
  kubernetes/monitoring/datadog-values.yaml
  scripts/check-critical-metrics.sh
  scripts/deploy-production.sh
  scripts/performance/test_blockchain_performance.js
  scripts/rollback-production.sh
  tests/performance/test_ai_agent_responsiveness.py
Due: eslint, prettier, typescript-check

Implement resilience enhancements with circuit breakers
  .env.production.template
  UNIMPLEMENTED_FEATURES.md
  apps/ai-service/services/database.py
  deploy_latest_maily_production.sh
  docs/adr/0013-circuit-breaker-implementation.md
Due: prettier

Complete implementation of next steps
  apps/ai-service/main.py
  apps/ai-service/models/content_safety.py
  apps/ai-service/routers/content_safety.py
  apps/ai-service/services/content_safety_service.py
  apps/analytics-service/package.json
  apps/api/services/ai_service.py
  apps/campaign-service/package.json
  apps/email-service/package.json
  apps/web/package.json
  apps/workers/package.json
Due: prettier

Fix signup page social auth handlers to provide consistent experience
  apps/web/auth/signup/page.tsx
Due: eslint, prettier, typescript-check

Consolidate enhancement plans into a single PRIORITY-TASKS.md file
  PRIORITY-TASKS.md
Due: prettier

Complete error handling standardization migration
  CLAUDE.md
  ERROR-HANDLING-STANDARDIZATION.md
  apps/api/routers/api_keys.py
  apps/api/services/api_key_service.py
  apps/web/__tests__/ErrorBoundary.test.tsx
  packages/error-handling/MIGRATION-GUIDE.md
  packages/error-handling/README.md
  tests/unit/ErrorBoundary.test.tsx
Due: eslint, prettier, typescript-check

Consolidate documentation into core reference files
  CONFIGURATION.md
  DEPENDENCIES.md
  DEVOPS.md
  DOCUMENTATION-PLAN.md
  IMPROVEMENTS.md
Due: prettier

Finalize documentation consolidation
  CONFIGURATION.md
  backup-md/API-STANDARDIZATION-PLAN.md
  backup-md/APP_MIGRATION_NOTE.md
  backup-md/CLEANUP_SUMMARY.md
  backup-md/DEPENDENCY-UPDATE-GUIDE.md
  backup-md/DEPLOYMENT-README.md
  backup-md/DEVOPS-README.md
  backup-md/DOCKER_STANDARDIZATION.md
  backup-md/ERROR-HANDLING-STANDARDIZATION.md
  backup-md/FINAL-IMPROVEMENTS.md
  backup-md/IMPROVEMENT-SUMMARY.md
  backup-md/KUBERNETES-HELM-PLAN.md
  backup-md/NEXT-STEPS.md
  backup-md/NEXT_CONFIG_STANDARDIZATION.md
  backup-md/PRODUCTION-READINESS-UPDATE.md
  backup-md/README.md
  backup-md/REPO-CLEANUP-SUMMARY.md
  backup-md/REPO-IMPROVEMENTS.md
  backup-md/REQUIREMENTS.md
  backup-md/ROLLBACK.md
  backup-md/TEST-CONSOLIDATION-PLAN.md
  backup-md/TEST_CONSOLIDATION_NOTE.md
  backup-md/UNIMPLEMENTED_FEATURES.md
  backup-md/architecture-diagram.md
  backup-md/dependency-report.md
  backup-md/devops-strategy.md
  backup-md/implementation-plan.md
  backup-md/implementation-progress.md
  backup-md/master-implementation-plan.md
  backup-md/predictive-analytics-fusion.md
  backup-md/production-readiness-checklist.md
  backup-md/remaining-tasks.md
  backup-md/system-integration-plan.md
Due: prettier

Finalize documentation optimization with comprehensive strategy
  DOCUMENTATION-FINAL.md
  DOCUMENTATION-PLAN.md
Due: prettier

Complete documentation optimization with structured directory approach
  DOCUMENTATION-FINAL.md
  PRIORITY-TASKS.md
Due: prettier

refactor: standardize repository structure and organization
  apps/api/cache/redis_client.py
  apps/api/config/settings.py
  apps/web/jest.config.js
  apps/web/next.config.js
  config/README.md
  config/app/api/settings.py
  config/app/web/next.config.js
  config/app/web/vitest.config.ts
  docker/README.md
  packages/README.md
  packages/database/src/redis-client/README.md
  packages/database/src/redis-client/__init__.py
  packages/database/src/redis-client/redisClient.py
  packages/database/src/redis/__init__.py
  packages/database/src/redis/redis_client.py
  packages/database/src/redis_client.py
Due: eslint, prettier, typescript-check

docs: update README and add test for error handling
  README.md
  README.md.backup
  tests/unit/test_error_handling.py
Due: prettier

Implement standardized error handling and Redis client
  CLAUDE.md
  NEXT-STEPS.md
  apps/api/cache/redis_client.py
  apps/api/main.py
  packages/database/src/redis/__init__.py
  packages/database/src/redis/redis_client.py
  packages/error-handling/src/errors/ApplicationError.ts
  packages/error-handling/src/errors/DomainErrors.ts
  packages/error-handling/src/errors/ErrorTypes.ts
  packages/error-handling/src/errors/HttpErrors.ts
  packages/error-handling/src/errors/index.ts
  packages/error-handling/src/handlers/HttpClientErrorHandler.ts
  packages/error-handling/src/handlers/index.ts
  packages/error-handling/src/index.ts
  packages/error-handling/src/react/ErrorBoundary.tsx
  packages/error-handling/src/react/ErrorFallback.tsx
  packages/error-handling/src/react/index.ts
  packages/error_handling/python/__init__.py
  packages/error_handling/python/errors/__init__.py
  packages/error_handling/python/errors/application_errors.py
  packages/error_handling/python/errors/infrastructure_errors.py
  packages/error_handling/python/errors/integration_errors.py
  packages/error_handling/python/errors/maily_error.py
  packages/error_handling/python/errors/security_errors.py
  packages/error_handling/python/middleware/__init__.py
  packages/error_handling/python/middleware/fastapi_error_handler.py
Due: eslint, prettier, typescript-check

Complete cleanup and implement trust verification components
  apps/ai-service/services/trust_verification.py
  apps/api/services/blockchain_service.py
  apps/api/services/trust_verification_service.py
  apps/web/app/api/trust-verification/badge/[canvasId]/route.ts
  apps/web/app/api/trust-verification/data/[canvasId]/route.ts
  apps/web/app/api/trust-verification/tokens/route.ts
  apps/web/app/api/trust-verification/verify/route.ts
  apps/web/components/DraggableLayer.tsx
  apps/web/components/LayersPanel.tsx
  apps/web/components/PerformanceMetricsPanel.tsx
  apps/web/components/TrustVerificationWallet.tsx
  apps/web/components/TrustVerificationWrapper.tsx
  apps/web/jest.config.js
  apps/web/utils/canvas.ts
Due: eslint, prettier, typescript-check

Complete repository standardization following the refactoring plan
  PRIORITY-TASKS.md
  REPOSITORY-STANDARDIZATION.md
  apps/api/main.py
  apps/api/middleware/auth_setup.py
  apps/api/middleware/standardized_auth.py
  apps/api/services/user_service.py
  config/shared/logging/nodejs.js
  config/shared/logging/python.py
  config/shared/monitoring/prometheus.yml
Due: eslint, prettier

complete: Cognitive Canvas WebSocket infrastructure
  NEXT-STEPS.md
  PRIORITY-TASKS.md
  apps/api/main.py
  apps/api/routers/canvas_websocket.py
  docs/features/cognitive-canvas.md
  scripts/run_websocket_server.py
  tests/unit/test_websocket_service.py
Due: prettier

Implement complete multi-environment setup with feature flags, database migration, and monitoring
  .vercelignore
  MULTI-ENVIRONMENT-SETUP.md
  apps/api/.env.development
  apps/api/.env.staging
  apps/api/.env.test
  apps/api/routes/features.js
  apps/api/vercel.json
  apps/web/.env.development
  apps/web/.env.staging
  apps/web/.env.test
  apps/web/.vercelignore
  apps/web/hooks/useFeatureFlag.js
  apps/web/vercel.json
  config/feature-flags.js
  kubernetes/monitoring/prometheus-values.yaml
  kubernetes/namespaces/testing.yaml
  kubernetes/testing/maily-deployment.yaml
  scripts/deploy-environment.sh
  scripts/migrate-database.sh
  vercel.development.json
  vercel.json
  vercel.production.json
  vercel.staging.json
  vercel.testing.json
Due: eslint, prettier

Migrate Jest to Vitest in react-hooks package
  package-lock.json
  packages/react-hooks/package.json
  packages/react-hooks/vitest.config.ts
Due: eslint, prettier, typescript-check

Add standardization completion document
  packages/react-hooks/STANDARDIZATION-COMPLETE.md
Due: prettier

Complete repository standardization removing deprecated modules
  docker/compose/docker-compose.yml
Due: none

Standardize Redis PubSub usage in canvas and websocket routers
  apps/api/routers/canvas.py
  apps/api/routers/websocket.py
Due: none

Migrate to standardized HTTP and Redis clients
  apps/ai-service/implementations/memory/vector_embeddings.py
  apps/ai-service/utils/tracing.py
  tests/performance/ai_mesh_load_test.py
Due: none

Update consolidation summary with recent HTTP/Redis migrations
  CONSOLIDATION-SUMMARY.md
Due: prettier

Update HTTP and Redis migration plan with progress
  HTTP-REDIS-MIGRATION-PLAN.md
Due: prettier

Fix HTTP client implementation and dependencies
  packages/error-handling/python/errors.py
  packages/error-handling/python/http_client.py
Due: none

Complete HTTP and Redis client migration
  CONSOLIDATION-SUMMARY.md
  HTTP-REDIS-MIGRATION-PLAN.md
  MIGRATION-COMPLETE.md
  apps/api/routers/campaigns.py
  tests/conftest.py
Due: prettier

Complete all standardization tasks
  CONSOLIDATION-SUMMARY.md
  MIGRATION-COMPLETE.md
  STANDARDIZATION-COMPLETED.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|json|md)$
  typescript-check: any of: \.(ts|tsx)$
